[Desktop Entry]
# Creative Commons CC0 1.0 Universal (CC0-1.0, Public Domain Dedication).
Name=PulseView
GenericName=Logic analyzer, oscilloscope and MSO GUI
Categories=Development;Electronics;
Comment=Control your logic analyzer, oscilloscope, or MSO
Exec=pulseview
Icon=sigrok-logo-notext
Type=Application
MimeType=application/vnd.sigrok.session
