[Desktop Entry]
Name=PulseView
GenericName=Logic analyzer, oscilloscope and MSO GUI
Categories=Electronics;
Comment=Control your logic analyzer, oscilloscope, or MSO
Exec=pulseview
Icon=sigrok-logo-notext
Type=Application
