*~
*.swp

pulseview
pulseview-test

# CMake cruft
*.cmake
CMakeCache.txt
CMakeFiles/
cotire/
Makefile
Testing/

.ninja_log
*.ninja

# qt generated code
*.qrc.depends
moc_*.cxx
qrc_*.cxx
moc_*.cpp
qrc_*.cpp
ui_*.h
*.cxx_parameters

config.h
