*~

pulseview
pulseview-test

# CMake cruft
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile
Testing/
CPackConfig.cmake
CPackSourceConfig.cmake

# qt generated code
*.qrc.depends
moc_*.cxx
qrc_*.cxx
ui_*.h

config.h
