/libs/
/assets/
/res/drawable/
/res/values/bundled_libs.xml
/res/*/strings.xml
/res/xml/device_filter.xml
/build.xml
/project.properties
/local.properties
/proguard-project.txt
/bin/
/gen/
/ant/build/
/ant/tasks.jar
/src/org/qtproject/
/src/org/kde/
